rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // كل مستخدم يقرأ ويكتب بياناته هو بس
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /users/{uid}/kv/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
